@model IEnumerable<Blog_App.Models.Post>

@{
    ViewBag.Title = "Blog Posts";
}

<h2>Blog Posts</h2>

<p>
    @Html.ActionLink("Create New Post", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Author)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.PostId }, new { @class = "btn btn-info btn-sm" })
                    @Html.ActionLink("Edit", "Edit", new { id = item.PostId }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.PostId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>